<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code{
    public class sett
    {
        public string username { get; set; }
        public string checkex()
        {
            string outputs = Regex.Replace(this.username, @"[^a-zA-Z0-9]", string.Empty);
            if (string.IsNullOrEmpty(outputs))
            {
                outputs = "sharkbyteprojects";
            }
            return outputs;
        }
    }
}