@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/sharkbyteprojects" target="_blank" class="ml-md-auto">On GitHub</a>
    </div>

    <div class="content px-4">
        @Body
        <div class="alert alert-primary mt-4" role="alert">
            <span class="oi oi-chevron-right mr-2" aria-hidden="true"></span>
            &copy; Sharkbyteprojects
        </div>
    </div>
</div>
